.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 100px;
  margin-left: 1.5rem;
  text-align: right;
}

.mid {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  gap: 1rem;
}

.about {
  box-shadow: 12px 12px rgba(140, 105, 153, 0.2);
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 1.5rem;
  border: 0.5px solid #ccc;
  gap: 1rem;
}

.extra {
  box-shadow: 12px 12px rgba(140, 105, 153, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  gap: 1rem;
  border: 0.5px solid #ccc;
}

.student-name {
  color: white;
  display: inline;
  background-color: #462378;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  font-weight: 600;
  font-size: 30px;
  text-align: right;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.edit-header {
  font-family:
    Roboto Mono,
    serif;
  letter-spacing: -0.02em;
  font-size: 22px;
  font-weight: 650;
}

h1 {
  font-family:
    Roboto Slab,
    serif;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 0.03em;
  line-height: 0;
}

.input-field {
  position: relative;
  max-height: 70px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.input-field input {
  width: 400px;
  height: 50px;
  border-radius: 6px;
  font-size: 16px;
  padding: 0 15px;
  border: 2px solid #d9d9d9;
  color: #000000;
  outline: none;
}

.input-field select {
  width: 400px;
  height: 50px;
  border-radius: 6px;
  font-size: 16px;
  padding: 0 15px;
  border: 2px solid #d9d9d9;
  color: #000000;
  outline: none;
  box-sizing: content-box;
  background-color: transparent;
}

.input-field label {
  position: absolute;
  font-family:
    Roboto Mono,
    serif;
  top: 50%;
  transform: translateY(-50%);
  color: #d9d9d9;
  font-size: 18px;
  pointer-events: none;
  transition: 0.3s;
}

input:focus {
  border: 2px solid #dd9832;
}

input:focus ~ label,
input:valid ~ label {
  top: 0;
  left: 15px;
  font-size: 15px;
  padding: 0 2px;
  background: #ffffff;
  color: #dd9832;
}

.input-field-gpa {
  position: relative;
  max-height: 70px;
  min-height: 50px;
  display: flex;
  align-items: start;
  justify-content: left;
  border-radius: 6px;
}

.input-field-gpa input {
  width: 100px;
  height: 50px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  padding: 0 15px;
  border: 2px solid #d9d9d9;
  color: #462378;
  font-family:
    Roboto Mono,
    monospace;
  outline: none;
}

.input-field-gpa label {
  position: absolute;
  font-family:
    Roboto Mono,
    serif;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #d9d9d9;
  font-size: 18px;
  pointer-events: none;
  transition: 0.3s;
}

select:focus {
  border: 2px solid #dd9832;
}

select:focus ~ label,
select:valid ~ label {
  top: 0;
  left: 15px;
  font-size: 15px;
  padding: 0 2px;
  background: #ffffff;
  color: #dd9832;
}

button {
  height: 60px;
  width: 110px;
  outline: none;
  font-size: 23px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.3px;
  cursor: pointer;
  color: #fefeff;
  background: #dd9832;
  border: 1px solid #dd9832;
  transition: background-color 0.25s ease-in-out;
}

button:hover {
  color: white;
  background: #9d6b20;
  border: 1px solid #9d6b20;
  transition: background-color 0.25s ease-in-out;
}

.alignment {
  text-align: center;
  margin-top: 45px;
}
